@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#A5A692,#BFB78F );
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #575342cb; 
}

h1{
    color: #F2A71B;
    text-shadow: 1px 1px 2px #24190494; 
    text-align: center;

}

h2{
    color: #025E73;
}

p {
    text-align: justify;
    
}




/* Color Theme Swatches in Hex */
.Green-on-Green---Porsche-991-Speedster-1-hex { color: #025E73; }
.Green-on-Green---Porsche-991-Speedster-2-hex { color: #011F26; }
.Green-on-Green---Porsche-991-Speedster-3-hex { color: #A5A692; }
.Green-on-Green---Porsche-991-Speedster-4-hex { color: #BFB78F; }
.Green-on-Green---Porsche-991-Speedster-5-hex { color: #F2A71B; }

/* Color Theme Swatches in RGBA */
.Green-on-Green---Porsche-991-Speedster-1-rgba { color: rgba(2, 94, 114, 1); }
.Green-on-Green---Porsche-991-Speedster-2-rgba { color: rgba(0, 31, 38, 1); }
.Green-on-Green---Porsche-991-Speedster-3-rgba { color: rgba(165, 165, 145, 1); }
.Green-on-Green---Porsche-991-Speedster-4-rgba { color: rgba(191, 183, 143, 1); }
.Green-on-Green---Porsche-991-Speedster-5-rgba { color: rgba(242, 166, 26, 1); }

/* Color Theme Swatches in HSLA */
.Green-on-Green---Porsche-991-Speedster-1-hsla { color: hsla(191, 96, 22, 1); }
.Green-on-Green---Porsche-991-Speedster-2-hsla { color: hsla(191, 96, 7, 1); }
.Green-on-Green---Porsche-991-Speedster-3-hsla { color: hsla(61, 10, 61, 1); }
.Green-on-Green---Porsche-991-Speedster-4-hsla { color: hsla(50, 27, 65, 1); }
.Green-on-Green---Porsche-991-Speedster-5-hsla { color: hsla(39, 89, 52, 1); }
